body {
    font-size: 28px;
}

.f1 {
    font-family: 'Abril Fatface';
}

.f2 {
    font-family: 'Armata';
}

.f3 {
    font-family: 'Hind';
}

.f4 {
    font-family: 'Libre Baskerville';
}

.f5 {
    font-family: 'Lusitana';
}

.f6 {
    font-family: 'Montserrat';
}

.f7 {
    font-family: 'Nunito';
}

.f8 {
    font-family: 'Open Sans';
}