body {
    font-size: 28px;
}

.f1 {
    font-family: 'Abril Fatface';
}

.f2 {
    font-family: 'Armata';
}

.f3 {
    font-family: 'Hind';
}

.f4 {
    font-family: 'Libre Baskerville';
}

.f5 {
    font-family: 'Lusitana';
}

.f6 {
    font-family: 'Montserrat';
}

.f7 {
    font-family: 'Nunito';
}

.f8 {
    font-family: 'Open Sans';
}

.f9 {
    font-family: 'Roboto';
}

.f10 {
    font-family: 'Source Sans Pro';
}

.f11 {
    font-family: 'Poppins';
}

.f12 {
    font-family: 'Be Vietnam';
}

.f12 {
    font-family: 'Raleway';
}

footer {
    font-size: 16px;
}